<footer class="block block-center block-gredient">
  <div class="container" data-aos="fade-up">
    <img
      src="images/logo-image.png"
      alt="ITI Logo image png"
      class="logo-image"
    />
    <h1>Industrial Technical Institute</h1>
    <h3>Address</h3>
    <p>Russian Blvd, Sangkat Toek Tla, Khan Sen Sok, Phnom Penh, Cambodia</p>
    <ul class="list list-flex">
      <li class="list-item">
        <a href="#">Contact : 012407960 / 061561154</a>
      </li>
      <li class="list-item"><a href="#">Facebook</a></li>
      <li class="list-item"><a href="#">Telegram</a></li>
      <li class="list-item"><a href="#">Youtube</a></li>
      <li class="list-item"><a href="#">Email</a></li>
    </ul>
    <p class="copyright">© 2023 by Long Soeng. All Rights Reserved.</p>
  </div>
</footer>
